<div class="main-container">
  <div class="header">
    <input class="form-control mb-2" [ngModel]="searchText" (ngModelChange)="search($event)" type="text" placeholder="Search...">
    <div class="row">
      <div class="col text-right">
        <span class="align-top">Stop Loading Page Once Landing</span>
        <label class="switch mb-0">
          <input type="checkbox" [ngModel]="pauseWeb" (ngModelChange)="saveConfig($event)">
          <span class="slider round"></span>
        </label>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col">
        <button class="btn btn-success btn-block" (click)="toggle()">{{editable ? 'Plain Text' : 'Edit'}}</button>
      </div>
      <div class="col px-2">
        <button class="btn btn-success btn-block" (click)="addPair()">Add A Param</button>
      </div>
      <div class="col">
        <button class="btn btn-primary btn-block" type="submit" (click)="submit()">Reload Page</button>
      </div>
    </div>
  </div>

  <div class="px-2 pt-2">
    <div *ngIf="editable">
      <div class="form-row pb-2" *ngFor="let param of params; index as i">
        <div class="col-3">
          <input type="text" (focus)="$event.target.select()" class="form-control" [ngClass]="{'border border-success': param.foundK && searchText}" [(ngModel)]="param.key" [disabled]="param.key === 'domain'">
        </div>
        <div class="col">
          <input type="text" (focus)="$event.target.select()" class="form-control" [ngClass]="{'border border-success': param.foundV && searchText}" [(ngModel)]="param.value">
        </div>
        <div class="col-auto">
          <button class="btn btn-outline-danger" (click)="deleteParam(i)" [disabled]="param.key === 'domain'">Delete</button>
        </div>
      </div>
    </div>

    <div *ngIf="!editable" class="plain-text">
      <button class="btn btn-primary btn-sm float-btn" (click)="copyText()">{{instruction}}</button>
      <div *ngFor="let param of params">
        <!--&nbsp; is non-break space-->
        <p class="mb-1">{{param.key + '&nbsp;:&nbsp;' + param.value}}</p>
      </div>
    </div>
  </div>
</div>

